{% extends "base.html" %}

{% block title %}
    {% endblock %}
    {% block body %}
    {% load static %}
{% comment %} card {% endcomment %}
 
  <div class='container my-2'>
  <div class="row">
  {% for post in posts %}
  <div class="col-sm-6 my-2">
    <div class="card">
      <div class="card-body">
      <img src="{% static 'default.jpg' %}" class="card-img-top" alt="...">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.subtitle}}</p>
        <p class="card-text">{{ post.content|slice:100}}...</p>
        <a href="#" class="">Go somewhere</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>
  
{% endblock %}